Instrucciones
Sistema de recomendación de películas.

¿Podemos predecir qué películas tendrán una calificación alta, incluso si no son un éxito comercial?

Este conjunto de datos es un subconjunto de la enorme API de base de datos de películas de TMDB, que contiene solo 5000 películas del número total.

Dataset links:

tmdb_5000_movies: https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv

tmdb_5000_credits zip file to download: https://github.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/blob/main/tmdb_5000_credits.zip

Sobre la solucion: es una reproduccion de la solucion planteada por la escuela 4Geek en su plataforma, con algunas pequeñas modificaciones

Importo las librerias necesarias

In [74]:
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install seaborn
#!pip install sklearn
#!pip install shutil

In [75]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import shutil

Extraigo los datos

In [76]:
#Primer Dataset
movies = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')

Como el segundo archivo esta en formato zip, primero debo extraer del directorio para cargar los datos posteriormente

In [77]:
shutil.unpack_archive('/workspace/KNN_Project_movies/data/raw/tmdb_5000_credits.zip')

In [78]:
# Cargo el segundo Dataset

credits = pd.read_csv('tmdb_5000_credits.csv')

Exploro los datos tanto en caracteristicas de las peliculas como el numero de observaciones de cada Dataset

In [79]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [80]:
movies.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [81]:
movies.sample(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4557,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 28, ...",NaN,380733,"[{""id"": 6075, ""name"": ""sport""}, {""id"": 14955, ...",en,Fight to the Finish,A young amateur fighter makes an enemy with a ...,0.251828,"[{""name"": ""Triple D Productions"", ""id"": 60954}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-02-02,0,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's all or nothing,Fight to the Finish,5.2,3
756,60000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...",NaN,11775,"[{""id"": 387, ""name"": ""california""}, {""id"": 782...",en,Intolerable Cruelty,A revenge-seeking gold digger marries a womani...,22.620125,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-09-02,119940815,100.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,They can't keep their hands off each others as...,Intolerable Cruelty,5.8,391
2933,11,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",NaN,28932,[],en,F.I.S.T.,Johnny Kovak joins the Teamsters trade-union i...,3.375208,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1978-04-26,11,145.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,F.I.S.T.,6.4,29

In [82]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [83]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [84]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [85]:
credits.tail()

,movie_id,title,cast,crew
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [86]:
credits.sample(5)

,movie_id,title,cast,crew
4111,22617,Dinner Rush,"[{""cast_id"": 4, ""character"": ""Louis Cropa"", ""c...","[{""credit_id"": ""52fe4448c3a368484e01a66f"", ""de..."
585,57212,War Horse,"[{""cast_id"": 2, ""character"": ""Capt. James Nich...","[{""credit_id"": ""52fe4929c3a36847f818c16b"", ""de..."
1825,12589,Jimmy Neutron: Boy Genius,"[{""cast_id"": 1, ""character"": ""James 'Jimmy' Is...","[{""credit_id"": ""52fe45029251416c7504887f"", ""de..."
3211,25196,Crazy Heart,"[{""cast_id"": 3, ""character"": ""Bad Blake"", ""cre...","[{""credit_id"": ""56178ad79251412af4002292"", ""de..."
2777,24227,Excessive Force,"[{""cast_id"": 1, ""character"": ""Terry McCain"", ""...","[{""credit_id"": ""52fe448bc3a368484e028ca3"", ""de..."

In [87]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [88]:
credits.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

La unica variable en comun es el titulo de la pelicula, sera por esta donde uniremos ambos Dataset

In [89]:
movies = movies.merge(credits, on='title')

In [90]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [91]:
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1332,40000000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",http://whattoexpectthefilm.com/,76494,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,What to Expect When You're Expecting,Challenges of impending parenthood turn the li...,27.009723,"[{""name"": ""Alcon Entertainment"", ""id"": 1088}, ...",...,110.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's too late to pull out now.,What to Expect When You're Expecting,5.8,594,76494,"[{""cast_id"": 3, ""character"": ""Jules Baxter"", ""...","[{""credit_id"": ""55c0c93bc3a3682379001cc3"", ""de..."
2703,0,"[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...",NaN,10741,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 2944, ""n...",en,Bobby,"In 1968 the lives of a retired doorman, hotel ...",11.706309,"[{""name"": ""The Weinstein Company"", ""id"": 308},...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He saw wrong and tried to right it. He saw suf...,Bobby,6.4,119,10741,"[{""cast_id"": 7, ""character"": ""John Casey"", ""cr...","[{""credit_id"": ""52fe43ad9251416c75019bad"", ""de..."

Ahora seleccionaremos las columnas con las que trabajaremos las cuales son: a) el id de la pelicula, el titulo, comentarios, popularidad, voto promedio, genero, palabras claves, emision, creditos del equipo.

In [92]:
movies = movies[['movie_id','title','overview','popularity','vote_average','genres','keywords','cast','crew']]

In [93]:
movies.sample(5)

,movie_id,title,overview,popularity,vote_average,genres,keywords,cast,crew
715,9334,The Scorpion King,"In ancient Egypt, peasant Mathayus is hired to...",37.537093,5.3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""nam...","[{""id"": 1160, ""name"": ""egypt""}, {""id"": 1530, ""...","[{""cast_id"": 20, ""character"": ""Mathayus"", ""cre...","[{""credit_id"": ""536cb2dcc3a368122000b233"", ""de..."
102,131634,The Hunger Games: Mockingjay - Part 2,"With the nation of Panem in a full scale war, ...",127.284427,6.6,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 2020, ""name"": ""revolution""}, {""id"": 26...","[{""cast_id"": 2, ""character"": ""Katniss Everdeen...","[{""credit_id"": ""551e57929251411d8d00029a"", ""de..."
2252,4960,"Synecdoche, New York","A theater director struggles with his work, an...",12.761176,7.4,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 242, ""name"": ""new york""}, {""id"": 5756,...","[{""cast_id"": 3, ""character"": ""Caden Cotard"", ""...","[{""credit_id"": ""52fe43e8c3a36847f80777e3"", ""de..."
2429,26602,Summer Catch,A coming-of-age romantic comedy set against th...,3.960098,4.8,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 966, ""name"": ""beach""}, {""id"": 1480, ""n...","[{""cast_id"": 1, ""character"": ""Ryan Dunne"", ""cr...","[{""credit_id"": ""52fe450ec3a368484e045d67"", ""de..."
737,137094,Jack Ryan: Shadow Recruit,"Jack Ryan, as a young covert CIA analyst, unco...",42.538258,5.9,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...","[{""id"": 212, ""name"": ""london england""}, {""id"":...","[{""cast_id"": 14, ""character"": ""Jack Ryan"", ""cr...","[{""credit_id"": ""53902dad0e0a2643fc0007a5"", ""de..."

In [94]:
movies.isnull().sum()

movie_id        0
title           0
overview        3
popularity      0
vote_average    0
genres          0
keywords        0
cast            0
crew            0
dtype: int64

In [95]:
movies.dropna(inplace = True)

In [96]:
movies.isnull().sum()

movie_id        0
title           0
overview        0
popularity      0
vote_average    0
genres          0
keywords        0
cast            0
crew            0
dtype: int64

In [97]:
movies.shape

(4806, 9)

El Dataset esta escrito en un formato JSON, veremos la info de la columna genero, y keywords, es decir las categorias internas

In [98]:
#Genero
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [99]:
# Palabras claves asociadas a la Peli, podemos ver futuro, space war, society, funcionan como claves para la busqueda en la red
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

Comenzaremos a convertir estas columnas usando una función para obtener solo los géneros, sin formato json. Solo estamos interesados ​​en los valores de las claves de 'nombre'. repetiremos el procedimiento para la columna keywords

In [100]:
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [101]:
movies.dropna(inplace = True)

In [102]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,popularity,vote_average,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,6.9,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,6.3,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,7.6,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",43.926995,6.1,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [103]:
movies.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [104]:
movies.iloc[0].keywords

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

Para la columna 'cast' crearemos una función nueva pero similar. Esta vez limitaremos el número de artículos a tres.

In [105]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [106]:
movies['cast'] = movies['cast'].apply(convert3)

In [107]:
movies.sample(1)

,movie_id,title,overview,popularity,vote_average,genres,keywords,cast,crew
129,10195,Thor,"Against his father Odin's will, The Mighty Tho...",86.493424,6.6,"[Adventure, Fantasy, Action]","[new mexico, banishment, shield, marvel comic,...","[Chris Hemsworth, Natalie Portman, Tom Hiddles...","[{""credit_id"": ""52fe433f9251416c7500923d"", ""de..."

Para 'Crew' creamos una nueva función que permita obtener únicamente los valores de las claves 'name' para cuyo 'job' el valor sea 'Director'. En resumen, estamos tratando de obtener el nombre del director.

In [112]:
#movies.crew[0]

In [109]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [110]:
movies['crew'] = movies['crew'].apply(fetch_director)

Solo nos queda la columna overview, la convertiremos en una lista usando el método 'split()'.

In [111]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [113]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())


Para que el sistema de recomendación no se confunda, por ejemplo entre 'Jennifer Aniston' y 'Jennifer Conelly', quitaremos los espacios entre palabras con otra función.

In [114]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

Ahora apliquemos la funcion collapse para que elimine los espacios en las columnas cast, crew, genres y keywords

In [115]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [116]:
movies.cast[0]

['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']

In [117]:
movies.crew[0]

['JamesCameron']

In [118]:
movies.genres[0]

['Action', 'Adventure', 'Fantasy', 'ScienceFiction']

In [119]:
movies.keywords[0]

['cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

Reduciremos nuestro conjunto de datos combinando todas nuestras columnas convertidas anteriores en una sola columna llamada 'etiquetas' (que crearemos). Esta columna ahora tendrá TODOS los elementos separados por comas, pero ignoraremos las comas usando lambda x :" ".join(x).

In [120]:
#Uno las columnas seleccionadas para conformar la nueva columna etiqueta que es la que usara el sistema de recomendacion

movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [121]:
movies.sample(2)

,movie_id,title,overview,popularity,vote_average,genres,keywords,cast,crew,tags
1432,14175,Valiant,"[The, animated, comedy, tells, the, story, of,...",14.051852,5.2,"[Animation, Family, Adventure]","[animation, animal, 3d]","[EwanMcGregor, RickyGervais, TimCurry]",[GaryChapman],"[The, animated, comedy, tells, the, story, of,..."
4450,146882,Elza,"[A, young, Parisian, woman, of, Caribbean, des...",0.007254,0.0,[Drama],"[france, caribbeanislands, caribbean, womandir...","[StanaRoumillac, VincentByrdLeSage, Christophe...",[MarietteMonpierre],"[A, young, Parisian, woman, of, Caribbean, des..."

In [122]:
movies.tags[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

Creo un nuevo Dataset solo con las columnas titulo, etiqueta recientemente creado y el id de la peli

In [123]:
new_df = movies[['movie_id','title','tags']]

new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

/tmp/ipykernel_963/2759419224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

In [124]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

Usaremos el algoritmo KNN para construir el sistema de recomendación. Antes de ingresar al modelo, procedamos con la vectorización de texto que aplicamos en la lección de PNL.

In [125]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [126]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [127]:
vectors.shape

(4806, 5000)

In [129]:
#cv.get_feature_names()


Encontremos la similitud de coseno entre las películas.

In [131]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors).shape

(4806, 4806)

In [132]:
similarity = cosine_similarity(vectors)

In [133]:
similarity[0]

array([1.        , 0.08964215, 0.05976143, ..., 0.02519763, 0.02817181,
       0.        ])

In [134]:
sorted(list(enumerate(similarity[0])),reverse =True , key = lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943)]

Finalmente, crearemos una función de recomendación basada en cosine_similarity. Esta función debe recomendar las 5 películas más similares.

In [135]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] #obteniendo el índice de la película
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate( distances)),reverse =True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

Comprobamos el sistema de recomendación introduciendo una película. Es decir partiendo de una pelicula y sus similitudes, el sistema recomendara cinco mas, que es el resultado de todo el procedimiento realizado anteriormente

In [136]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Ender's Game
Aliens vs Predator: Requiem

In [137]:
recommend('John Carter') ### Esta es muy buena :)

Star Trek: Insurrection
Mission to Mars
Captain America: The First Avenger
Escape from Planet Earth
Ghosts of Mars